name: tests

on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:
  schedule:
    # Weekly Monday 9AM build
    # * is a special character in YAML so you have to quote this string
    - cron: "0 9 * * 1"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v2
    with:
      envs: |
        - linux: py310-oldestdeps-cov-xdist
        - linux: py310-xdist
        - linux: py311-xdist
        - linux: py311-downstreamdeps-cov-xdist
          coverage: 'codecov'
        - linux: py312-xdist-nolegacypath
        - linux: py313-xdist
        - linux: py314-cov-xdist
          coverage: 'codecov'
        - macos: py314-xdist
  test_downstream:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v2
    with:
      setenv: |
        CRDS_PATH: /tmp/data/crds_cache
        CRDS_CLIENT_RETRY_COUNT: 3
        CRDS_CLIENT_RETRY_DELAY_SECONDS: 20
      envs: |
        - linux: py313-jwst-cov
        - linux: py313-romancal-cov
      coverage: codecov
